html{
    background-image: url("bats.gif");
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
    padding-bottom: auto;
    border: 2px solid black;
    background-color: white;
    box-shadow: 5px 5px 8px black;
}
header{
    border-bottom: 5px solid: black;
    background: linear-gradient(45deg, #FFF, #FF9800 25%, #000);
    flex: 100%;
    padding:10px;
    border-style: solid;
    border-width:3px
}
.pic{
    float:left
}
h1, h3, ul, uni {
	margin: 0px;
	padding: 10px;
}
h1{
    font-size: 28px
}
h1::first-letter{
   font-size: 200%;
}
h2 {
    margin: 10px;
	padding:0px;
    font-weight: 500;
    margin: 0;
}
pre{
    margin: 10px;
	padding: 50px;
}
.alpha {
    color : black;
    font-size: 280%;
    font-display: auto;
}
.bravo {
    color: black;
    font-size: 120%;
    float:center;
    
}
li {
    margin: 0px;
    padding:.04em;
    border: 3px solid black;
    background-color: orange;
    text-align: center;
    
}
#caption, #gallery {
	text-align: center;
}
.a{
    font-weight: bold;
}
li::before{
    display: inline-block; 
    width: 1em;
  margin-left: -1em
}
footer{
    text-align: center;
    font-size: 90%;
    padding: 1em;
    clear:both;
    border-top: 5px solid #000;
    background: linear-gradient(45deg, #FFF, #FF9800 75%, #000);
    flex: 100%;
}
.uni{
    margin:10px;
    width:600px;
    float:right;
    padding-left: 100px;
}
.p{
    font-size :110%;
    margin:10px;
    width:600px;
    float:right;
    padding-left: 100px;
    
}
.p1{
    font-size :110%;
    margin:10px;
    width:600px;
    float:right;
}
p{
    font-size :110%;
    margin:0px;
}
ul{
    list-style-type: none;
      margin: 30px;
      padding: 0;
      width: 120px;
    float:left;
    position: absolute;
    margin-top: 20px;
    overflow: hidden;
}
li a {
  display: block;
  color: black;
  height: 10px;
  padding: 10px;
  text-decoration: none;
    text-align: left;
}
ul2{
    list-style-type: none;
    text-align: center;
      background-color: black;
      display: block;
}
li2 a {
  display: inline;
  color: white;
  text-align: center;
  padding-top: 0px;
  text-decoration: none;
}
li2 a:hover {
  background-color: #111;
}
.size{
    font-size:15px;
    }
nav{
    border-top: 0px;
    clear: both;
}
li2 a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}

li2 a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

li2.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: grey;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: black;
}
.currentLink {
    color: orange;
}
table{
    float:right;
    margin-right: 100px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 120%;
        
}
footer, header,nav{
    display: block;
}
.head{
    font-size: 30px;
    float: right;
    margin-right: 300px;
    padding-top: 30px;
    padding-bottom: 10px
}
th{
    color:grey;
}
a{
    color: black;
}
form{
    float:right;
    margin-right: 100px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 120%;
    height:300px;
    
}
label{
    margin-right:10px; 
}
.button{
    background-color: orange;
/*
    margin-top: 20px;
    margin: 10px;
*/
    border-color: black;
    align-content: center;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    width: 100px;
    margin-top: 10px;
    margin-right:200px; 
}
input{
    width: 300px;
    display: inline-block;
    float:right;
}
section{
    width: 500px;
    height: 300px;
    float: right;
    margin:10px;
    padding-right:100px;
}